:root {
  --gray: rgb(51, 57, 63);
  --dark-gray: rgb(27, 27, 35);
  --hunter-green: rgb(31, 60, 50);
  --bright-green: rgb(69, 201, 131);
  --blue: rgb(3, 79, 132);
  --gray-blue: rgb(102, 114, 146);
  --border: solid white 3px;
}

body {
  background-color: black;
  font-family: "Montserrat", Haettenschweiler, non-serif; 
  color: white;
  text-align: center;
  margin: 0;
}

/* Header Section */

header {
  display: flex;
  align-items: center;
  height: 300px;
  border-bottom: var(--border);
  background-color: var(--hunter-green);
}

h1 {
  font-weight: 900;
  font-size: 70px;
  background: linear-gradient(to right, var(--blue) 10%, var(--gray-blue) 50%, var(--dark-gray) 60%);
  background-clip: border-box;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 100px;
}
  
header img {
  width: 7%;
  margin-left: 10px;
  border-radius: 15%;
  margin-right: 10px;
  border: var(--border);
}

/* Navigation Bar */

.navbar {
  border-bottom: var(--border);
  background-color: var(--dark-gray);
  color: white;
}

nav {
  text-align: center;
  padding: 1%;
}

nav a {
  color: white;
  font-weight: 900;
  font-size: 20px;
  padding: 0 125px;
}

/* About Me Section */

.about-me {
  padding-top: 25px;
  background-color: black;
  text-align: center;
  margin: 40px auto;
  border: var(--border);
  width: 40%;
  background-color: var(--hunter-green);
}

.about-me h2 {
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  color: var(--gray-blue);
}

.wrapper {
  text-align: center;
  align-items: center;
  border: var(--border);
  width: 800px;
}

.about-me p {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 50px 25px 50px;
  font-size: 1.25em;
  line-height: 1.5em;
}

/* Work Section */

.work-header {
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
  font-weight: 900px;
  color: var(--gray-blue)
}

.container-outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.card-header {
  text-align: center;
  margin-bottom: 15px;  
}

.card h3 {
  color: var(--bright-green);
  padding: 10px;
  position: relative;
  margin: -30px 15px 0 15px;
  text-align: center;
  border: solid white 2px;
  border-radius: 10px;
  background-color: #33393f;
  transition: all 0.5s ease-in-out;
}

.card p {
  margin: 20px;
  line-height: 20px;
}

.container-1 {
  height: 100vh;
  width: 50vw;
  align-items: center;
}

.project-1 {
  width: 45vw;
  background-color: var(--dark-gray);
  align-items: center;
  border: var(--border);
  margin-left: 3%;
  transition: all 0.5s ease-in-out;
}

.project-1 img {
  width: 40vw;
  height: 40vh;
  border: solid white 2px;
  border-radius: 5%;
  align-items: center;
  margin: 0 10px 18px 10px;
}

.container-2 {
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
}

.project-2, 
.project-3, 
.project-4, 
.project-5 {
  height: 41vh;
  width: 20vw;
  margin-top: 0;
  margin-right: 3%;
  border: var(--border);
  background-color: var(--dark-gray);
  transition: all 0.5s ease-in-out;
}

.project-2 img, 
.project-3 img {
  height: 20vh;
  width: 15vw;
  border: solid white 2px;
  border-radius: 5%;
  align-items: center;
  margin: 20px 10px 18px 10px;
}

#restaurant1,
#restaurant2,
#billboard1,
#billboard2 {
  margin: 1%; 
  height: 14vh;
  width: 14vw;
  border: solid white 2px;
  border-radius: 5%;
}


.fa-solid {
  color: rgb(255, 222, 52);;
  animation: blinker 2s step-start infinite;
  padding-left: 10px;
  padding-right: 10px;
}
  
@keyframes blinker {
  50% {
    color: var(--gray);
  }
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover {
  color: var(--bright-green);
}

a:visited {
  color: white;
}

.card:hover,
.card-header:hover,
.card-large:hover,
.card-large-header:hover {
  box-shadow: inset 0px 0px 15px var(--bright-green), 0 0 35px var(--bright-green);
}

footer {
  height: 75px;
  background-color: var(--hunter-green);
  color: white;
  font-size: 20px;
  border-top: var(--border);
  border-bottom: var(--border);
}

@media screen and (max-width: 1540px) {   
  
  header {
    height: 100%;
    margin: 0;
  }

  header img {
    width: 25%;
    margin: 2%;
  }
  
  header h1 {
    font-size: 4em;
    margin: 2%;
  }

  nav a {
    font-size: 20px;
    padding: 0 20px;
  }

  .about-me {
    width: 90%;
  }

  .about-me h2 {
    font-size: 35px;
  }

  .about-me p {
    font-size: 1.25em;
  }

  .work-header {
    font-size: 35px;
  }

  #restaurant2,
  #billboard2 {
    display: none;
  }
 

  footer {
    height: 60px;
    font-size: 15px;
  }
}   

@media screen and (max-height: 1900px) {
    #billboard2, #restaurant2 {
      display: none;
    }
    #billboard1, #restaurant1 {
      width: 75%;
      height: 50%;
    }
    h3 {
      font-size: 1em;
    }
    .project-5 p, 
    .project-2 p {
      font-size: .8em;
    }
}

 @media screen and (max-width: 1000px) {   
  
  header {
    height: 100%;
    margin: 0;
  }

  header img {
    width: 25%;
    margin: 2%;
  }
  
  header h1 {
    font-size: 2em;
    margin: 2%;
  }

  nav a {
    font-size: 12px;
    padding: 0 5px;
  }

  .about-me {
    width: 85%;
  }

  .about-me h2 {
    font-size: 25px;
  }

  .about-me p {
    font-size: 1em;
  }

  .work-header {
    font-size: 25px;
    margin-bottom: 25px;
  }

  .container-outer {
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin-bottom: 5%;
  }

  .container-1 {
    text-align: center;
    width: 75%;
    height: 30%;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .project-1 {
    width: 95%;
    height: 100%;
    text-align: center;
    margin: auto;
  }

  .project-1 img {
    width: 95%;
    height: 95%;
    margin: auto;
  }

  #podcast2 {
    display: none;
  }

  .container-2 {
    width: 95%;
    height: 70%;
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: space-evenly;
  }

  .project-2, 
  .project-3, 
  .project-4, 
  .project-5 {
    width: 45%;
    height: 30%; 
  }

  .project-1 p,
  .project-2 p, 
  .project-3 p, 
  .project-4 p, 
  .project-5 p {
    display: none;
  }

  h3 {
    font-size: 0.75em;
  }

  .project-2 img {
    margin-top: 5%;
    height: 65%;
    width: 75%;
  }
  
  .project-3 img {
    height: 70%;
    width: 75%;
  } 

  #restaurant1 {
    height: 65%;
    width: 85%;
  }

  #billboard1 {
    margin-top: 6%;
    height: 65%;
    width: 85%;
  }

  span {
    display: none;
  }
  
 }

@media screen and (max-height: 950px) {
  .project-1 img {
    width: 70%;
    height: 70%;
  }
  #billboard1, #restaurant1 {
    width: 65%;
    height: 30%;
  }
  h3 {
    font-size: 1em;
  }
}

@media screen and (max-width: 600px) {
  #podcast1 {
    margin-top: 8%;
  }
  
  #bill {
    height: 50%;
  }

  #emojipedia,
  #restaurant1,
  #billboard1 {
    margin-top: 5px;
    height: 50%;
  }
}   

@media screen and (max-width: 359px) {

  .container-outer {
    height: 100%;
  }

  .container-1 {
    height: 25%;
    width: 100%;
  }
  
  .container-2 {
    height: 45%;
    width: 100%;
  }
  .card {
    width: 75%;
    margin: auto;
    margin-bottom: 15%;
  }

  h3{
    font-size: 0.75em;
  }

  span {
    display: none;
  }
}   
